:root {
	background-color: black;
	color: white;
	font-family: 'Futura', sans-serif;
}

h1 {
	color: white;
	font-family: 'Red October', sans-serif;
	background-color: black;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	-webkit-text-stroke: 3px #a61412;
}

h2 {
	color: white;
	font-family: 'Red October', sans-serif;
	background-color: black;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	-webkit-text-stroke: 3px #a61412;
}

h3 {
	color: white;
	font-family: 'Futura', sans-serif;
	background-color: black;
	padding: 10px;

}

a {
	text-decoration: none;
	color: #a61412;
}

img {
	margin-top: 10px;
}